In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

list of list

In [5]:
import pandas as pd
l1=[[11,22,33],[44,55,66],[77,88,99]]
df1=pd.DataFrame(l1,index=['r1','r2','r2'],columns=['c1','c2','c3'])
df1

    c1  c2  c3
r1  11  22  33
r2  44  55  66
r2  77  88  99

dict of list

In [7]:
dl={'tsla':[200,201,202,203],
    'goog':[500,501,502,503],
    'nvda':[600,601,602,603]}
df2=pd.DataFrame(dl,index=[5,6,7,8])
df2

   tsla  goog  nvda
5   200   500   600
6   201   501   601
7   202   502   602
8   203   503   603

list of dict

In [11]:
stock=[
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df3=pd.DataFrame(stock,index=[55,66,77])
df3

     name  price sector
55  apple    300   tech
66   ongc    500    oil
77  artil    400    oil