In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/new algo trading/batch32/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

list of list

In [5]:
import pandas as pd
l1=[[11,22,33],[44,55,66],[77,88,99]]
df1=pd.DataFrame(l1,index=['r1','r2','r2'],columns=['c1','c2','c3'])
df1

    c1  c2  c3
r1  11  22  33
r2  44  55  66
r2  77  88  99

dict of list

In [7]:
dl={'tsla':[200,201,202,203],
    'goog':[500,501,502,503],
    'nvda':[600,601,602,603]}
df2=pd.DataFrame(dl,index=[5,6,7,8])
df2

   tsla  goog  nvda
5   200   500   600
6   201   501   601
7   202   502   602
8   203   503   603

list of dict

In [11]:
stock=[
    {"name":'apple' ,'price':300 ,'sector':'tech'},
    {"name":'ongc' ,'price':500 ,'sector':'oil'},
    {"name":'artil' ,'price':400 ,'sector':'oil',}
]
df3=pd.DataFrame(stock,index=[55,66,77])
df3

     name  price sector
55  apple    300   tech
66   ongc    500    oil
77  artil    400    oil

numpy array

In [12]:
import numpy as np
import pandas as pd

m1=np.arange(16).reshape(4,4)
print(m1)

df1=pd.DataFrame(m1,index=['r1','r2','r3','r4'],columns=['c1','c2','c3','c4'])
df1

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15

csv file

In [13]:
import pandas as pd
df3=pd.read_csv(r'/Users/new algo trading/batch32/11_data_analysis/sp500.csv')
df3

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30   5.91
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

exel

In [15]:
!pip3 install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [16]:
import pandas as pd
df5=pd.read_excel(r'/Users/new algo trading/batch32/11_data_analysis/demo1.xlsx')
df5

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

html

In [18]:
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.0-cp312-cp312-macosx_10_13_universal2.whl.metadata (6.6 kB)
Downloading lxml-6.0.0-cp312-cp312-macosx_10_13_universal2.whl (8.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 7.0 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: lxml
Successfully installed lxml-6.0.0

In [19]:
df7=pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')
df7

[                                                    0  \
 0                                                 NaN
 1   Performance of the NIFTY 50 index between 1990...
 2                                          Foundation
 3                                            Operator
 4                                           Exchanges
 5                                      Trading symbol
 6                                        Constituents
 7                                                Type
 8                                    Weighting method
 9                                     Related indices
 10                                            Website

                                                     1
 0                                                 NaN
 1   Performance of the NIFTY 50 index between 1990...
 2                        22 April 1996 (29 years ago)
 3                                         NSE Indices
 4                                                 NSE
 5                                               ^NSEI
 6                                                  50
 7                                           Large cap
 8                  Free-float capitalization-weighted
 9                             NIFTY Next 50 NIFTY 500
 10  www.niftyindices.com/indices/equity/broad-base...  ,
                        Company name      Symbol  \
 0                 Adani Enterprises    ADANIENT
 1                 Adani Ports & SEZ  ADANIPORTS
 2                  Apollo Hospitals  APOLLOHOSP
 3                      Asian Paints  ASIANPAINT
 4                         Axis Bank    AXISBANK
 5                        Bajaj Auto  BAJAJ-AUTO
 6                     Bajaj Finance  BAJFINANCE
 7                     Bajaj Finserv  BAJAJFINSV
 8                Bharat Electronics         BEL
 9                     Bharti Airtel  BHARTIARTL
 10                            Cipla       CIPLA
 11                       Coal India   COALINDIA
 12         Dr. Reddy's Laboratories     DRREDDY
 13                    Eicher Motors   EICHERMOT
 14                          Eternal     ETERNAL
 15                Grasim Industries      GRASIM
 16                          HCLTech     HCLTECH
 17                        HDFC Bank    HDFCBANK
 18                        HDFC Life    HDFCLIFE
 19                    Hero MotoCorp  HEROMOTOCO
 20              Hindalco Industries    HINDALCO
 21               Hindustan Unilever  HINDUNILVR
 22                       ICICI Bank   ICICIBANK
 23                    IndusInd Bank  INDUSINDBK
 24                          Infosys        INFY
 25                              ITC         ITC
 26           Jio Financial Services      JIOFIN
 27                        JSW Steel    JSWSTEEL
 28              Kotak Mahindra Bank   KOTAKBANK
 29                  Larsen & Toubro          LT
 30              Mahindra & Mahindra         M&M
 31                    Maruti Suzuki      MARUTI
 32                     Nestlé India   NESTLEIND
 33                             NTPC        NTPC
 34  Oil and Natural Gas Corporation        ONGC
 35                       Power Grid   POWERGRID
 36              Reliance Industries    RELIANCE
 37       SBI Life Insurance Company     SBILIFE
 38                  Shriram Finance  SHRIRAMFIN
 39              State Bank of India        SBIN
 40                       Sun Pharma   SUNPHARMA
 41        Tata Consultancy Services         TCS
 42           Tata Consumer Products  TATACONSUM
 43                      Tata Motors  TATAMOTORS
 44                       Tata Steel   TATASTEEL
 45                    Tech Mahindra       TECHM
 46                    Titan Company       TITAN
 47                            Trent       TRENT
 48                 UltraTech Cement  ULTRACEMCO
 49                            Wipro       WIPRO

                         Sector[15]        Date added[16]
 0                  Metals & Mining     30 September 2022
 1                         Services     28 September 2015
 2                       Healthcare         31 March 2022
 3                Consumer Durables      27 April 2012[a]
 4               Financial Services         27 March 2009
 5   Automobile and Auto Components     1 October 2010[b]
 6               Financial Services     29 September 2017
 7               Financial Services          2 April 2018
 8                    Capital Goods     30 September 2024
 9                Telecommunication          1 March 2004
 10                      Healthcare        7 October 1998
 11     Oil, Gas & Consumable Fuels       10 October 2011
 12                      Healthcare     1 October 2010[c]
 13  Automobile and Auto Components          1 April 2016
 14               Consumer Services         28 March 2025
 15          Construction Materials       2 April 2018[d]
 16          Information Technology       28 October 2002
 17              Financial Services         22 April 1996
 18              Financial Services          31 July 2020
 19  Automobile and Auto Components     7 October 1998[e]
 20                 Metals & Mining         22 April 1996
 21      Fast Moving Consumer Goods         22 April 1996
 22              Financial Services       25 January 2002
 23              Financial Services          1 April 2013
 24          Information Technology        7 October 1998
 25      Fast Moving Consumer Goods         22 April 1996
 26              Financial Services         28 March 2025
 27                 Metals & Mining     28 September 2018
 28              Financial Services          8 April 2010
 29                    Construction   10 December 2004[f]
 30  Automobile and Auto Components     18 September 1996
 31  Automobile and Auto Components          1 March 2004
 32      Fast Moving Consumer Goods  27 September 2019[g]
 33                           Power     24 September 2007
 34     Oil, Gas & Consumable Fuels         12 April 2004
 35                           Power         14 March 2008
 36     Oil, Gas & Consumable Fuels         22 April 1996
 37              Financial Services     25 September 2020
 38              Financial Services         28 March 2024
 39              Financial Services         22 April 1996
 40                      Healthcare       17 January 2002
 41          Information Technology      25 February 2005
 42      Fast Moving Consumer Goods      31 March 2021[h]
 43  Automobile and Auto Components         22 April 1996
 44                 Metals & Mining         22 April 1996
 45          Information Technology         28 March 2014
 46               Consumer Durables          2 April 2018
 47               Consumer Services     30 September 2024
 48          Construction Materials     28 September 2012
 49          Information Technology  27 September 2013[i]  ,
    List of replacements since 2006                           \
               Constituent excluded     Constituent included
 0    Shipping Corporation of India            Siemens India
 1                   Tata Chemicals                   Suzlon
 2                         Tata Tea  Reliance Communications
 3                      Jet Airways       Reliance Petroleum
 4        Oriental Bank of Commerce      Sterlite Industries
 ..                             ...                      ...
 60                             UPL          Shriram Finance
 61             Divi's Laboratories       Bharat Electronics
 62                     LTIMindtree                    Trent
 63                Bharat Petroleum   Jio Financial Services
 64            Britannia Industries                  Eternal


    Date of replacement              Reason for exclusion   Ref
 0         27 June 2006  Inadequate market capitalization  [17]
 1         27 June 2006  Inadequate market capitalization  [17]
 2     1 September 2006  Inadequate market capitalization  [17]
 3         4 April 2007  Inadequate market capitalization  [18]
 4         4 April 2007  Inadequate market capitalization  [18]
 ..                 ...                               ...   ...
 60       28 March 2024  Inadequate market capitalization  [54]
 61   30 September 2024  Inadequate market capitalization  [55]
 62   30 September 2024  Inadequate market capitalization  [55]
 63       28 March 2025  Inadequate market capitalization  [56]
 64       28 March 2025  Inadequate market capitalization  [56]

 [65 rows x 5 columns],
    Category All-time highs[57]
    Category              Value                         Date
 0   Closing           26216.05  Thursday, 26 September 2024
 1  Intraday           26277.35    Friday, 27 September 2024,
    Record Value        First Touch
 0          1000    2 December 1999
 1          2000    2 December 2004
 2          3000    30 January 2006
 3          4000    1 December 2006
 4          5000  27 September 2007
 5         10000       25 July 2017
 6         15000    5 February 2021
 7         20000  11 September 2023
 8         25000      1 August 2024
 9         26000  24 September 2024,
                Date                      Fall  \
 0     31 March 1997      89.50 points (8.46%)
 1   28 October 1997      88.20 points (7.87%)
 2     17 April 1999      77.50 points (7.42%)
 3      4 April 2000     106.65 points (6.90%)
 4       14 May 2004     135.10 points (7.87%)
 5       17 May 2004    196.90 points (12.24%)
 6   21 January 2008     496.50 points (8.70%)
 7   22 January 2008     309.50 points (5.94%)
 8   24 October 2008       386 points (13.11%)
 9    7 January 2009     192.40 points (6.18%)
 10      6 July 2009     258.55 points (5.84%)
 11   24 August 2015     490.95 points (5.92%)
 12    12 March 2020     868.25 points (8.30%)
 13    16 March 2020     757.80 points (7.61%)
 14    23 March 2020  1,135.20 points (12.98%)
 15      4 June 2024   1,379.40 points (5.93%)
 16     7 April 2025     742.85 points (3.24%)

                                       Probable reason
 0   Congress withdraws support to the United Front...
 1                         Asian financial crisis.[60]
 2   Vajpayee loses a no-confidence motion by one v...
 3                           Dot-com bubble burst.[62]
 4               2004 Indian general election results.
 5           2004 Indian general election results.[63]
 6                    US subprime mortgage crisis.[64]
 7                        US subprime mortgage crisis.
 8                        Global financial crisis.[65]
 9                                 Satyam scandal.[66]
 10                     Union budget announcement.[67]
 11                    Chinese stock market crash.[68]
 12  COVID-19 pandemic; WHO declares it a pandemic....
 13                             COVID-19 pandemic.[70]
 14                             COVID-19 pandemic.[71]
 15  The incumbent government secured fewer seats i...
 16  Investor concerns over U.S. tariff policies an...  ,
                 Date                    Gain  \
 0        18 May 2009  651.50 points (17.74%)
 1  20 September 2019   655.45 points (6.12%)
 2      25 March 2020   516.80 points (6.62%)
 3       7 April 2020   708.40 points (8.76%)
 4    1 February 2021   646.60 points (4.74%)

                                      Probable reason
 0  2009 Indian general election results caused mu...
 1       Announcement of corporate tax rate cuts.[75]
 2  US Senate passes a $2.2 trillion economic stim...
 3  Indications that COVID-19 cases were easing ar...
 4                     Union budget announcement.[78]  ,
     Year  Closing level Change in Index in Points Change in Index in %
 0   2000        1263.55                   −216.90               −14.65
 1   2001        1059.05                   −204.50               −13.94
 2   2002        1093.50                     34.45                 3.25
 3   2003        1879.75                    786.25                71.90
 4   2004        2080.50                    200.75                10.68
 5   2005        2836.55                    756.05                36.34
 6   2006        3966.40                   1129.85                39.83
 7   2007        6138.60                   2172.20                54.77
 8   2008        2959.15                 −3,179.45               −51.79
 9   2009        5201.05                   2241.90                75.76
 10  2010        6134.50                    933.45                17.95
 11  2011        4624.30                 −1,510.20               −24.62
 12  2012        5905.10                   1280.80                27.70
 13  2013        6304.00                    398.90                 6.76
 14  2014        8282.70                   1978.70                31.39
 15  2015        7964.35                   −336.35                −4.06
 16  2016        8185.80                    239.45                 3.01
 17  2017       10530.70                   2344.90                28.65
 18  2018       10862.55                    331.85                 3.15
 19  2019       12168.45                   1305.90                12.02
 20  2020       13981.75                   1813.30                14.90
 21  2021       17354.05                   3372.30                24.12
 22  2022       18105.30                    751.25                 4.33
 23  2023       21731.40                   3621.10                20.03
 24  2024       23644.80                   1913.40                 8.80,
    vteStock market indices                          vteStock market indices.1
 0                   Global  Equities MSCI ACWI Index MSCI World S&P Global...
 1                 Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 2              Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...
 3                 Regional  Asia S&P Asia 50 Europe EURO STOXX 50 STOXX Eu...
 4                     Asia                                        S&P Asia 50
 5                   Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 6            Latin America                               S&P Latin America 40
 7                    Other                                 MSCI EAFE MSCI GCC
 8         Industry indices  Energy Amex Oil Index Electronics PHLX Semicon...
 9                   Energy                                     Amex Oil Index
 10             Electronics                   PHLX Semiconductor Sector TecDax
 11                  Metals  HUI Gold Index Philadelphia Gold and Silver Index
 12             Real estate                              CBV Real Estate Index
 13                   Water                              Palisades Water Index
 14                   Other                                   Baltic Dry Index
 15                Americas  USMajor Dow Jones Industrial Average NYSE Comp...
 16                      US  Major Dow Jones Industrial Average NYSE Compos...
 17                   Major  Dow Jones Industrial Average NYSE Composite Na...
 18                   Other  Dow Jones Transportation Average Dow Jones Uti...
 19                  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 20                   Other  Indice de Precios y Cotizaciones (Mexico) COLC...
 21                  Europe  UK FT 30 FTSE 100 Index FTSE 250 Index FTSE 35...
 22                      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 23                  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 24                   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...
 25                    Asia  China SSE Composite SZSE Component SSE 50 Inde...
 26                   China  SSE Composite SZSE Component SSE 50 Index SSE ...
 27                   India  BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500 GI...
 28                   Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 29             South Korea                             KOSPI KOSPI 200 KOSDAQ
 30                   Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...
 31                 Oceania  Australia S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&...
 32               Australia  S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 ...
 33             New Zealand                                   S&P/NZX 50 Index
 34                  Africa                     EGX 30 JSE Top 40 MADEX NSE 30,
              0                                                  1
 0     Equities  MSCI ACWI Index MSCI World S&P Global 100 S&P ...
 1  Commodities  Bloomberg Commodity Index S&P GSCI Deutsche Ba...,
                0                                                  1
 0           Asia                                        S&P Asia 50
 1         Europe  EURO STOXX 50 STOXX Europe 600 FTSEurofirst 30...
 2  Latin America                               S&P Latin America 40
 3          Other                                 MSCI EAFE MSCI GCC,
              0                                                  1
 0       Energy                                     Amex Oil Index
 1  Electronics                   PHLX Semiconductor Sector TecDax
 2       Metals  HUI Gold Index Philadelphia Gold and Silver Index
 3  Real estate                              CBV Real Estate Index
 4        Water                              Palisades Water Index
 5        Other                                   Baltic Dry Index,
         0                                                  1
 0      US  Major Dow Jones Industrial Average NYSE Compos...
 1   Major  Dow Jones Industrial Average NYSE Composite Na...
 2   Other  Dow Jones Transportation Average Dow Jones Uti...
 3  Canada                 S&P/TSX 60 S&P/TSX Composite Index
 4   Other  Indice de Precios y Cotizaciones (Mexico) COLC...,
        0                                                  1
 0  Major  Dow Jones Industrial Average NYSE Composite Na...
 1  Other  Dow Jones Transportation Average Dow Jones Uti...,
         0                                                  1
 0      UK  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...
 1  France  CAC 40 CAC Next 20 CAC Mid 60 CAC Small CAC Al...
 2   Other  AEX ATX BEL 20 BUX DAX FTSE MIB IBEX 35 ISEQ 2...,
              0                                                  1
 0        China  SSE Composite SZSE Component SSE 50 Index SSE ...
 1        India  BSE SENSEX NIFTY 50 NIFTY Next 50 NIFTY 500 GI...
 2        Japan                     Nikkei 225 TOPIX S&P/TOPIX 150
 3  South Korea                             KOSPI KOSPI 200 KOSDAQ
 4        Other  KASE (Kazakhstan) KSE (Kyrgyzstan) Tashkent (U...,
              0                                                  1
 0    Australia  S&P/ASX 20 S&P/ASX 50 S&P/ASX 200 S&P/ASX 300 ...
 1  New Zealand                                   S&P/NZX 50 Index,
   vte NIFTY 200 companies                          vte NIFTY 200 companies.1
 0               NIFTY 200  NIFTY 100NIFTY 50 Adani Enterprises Adani Port...
 1               NIFTY 100  NIFTY 50 Adani Enterprises Adani Ports Apollo ...
 2                NIFTY 50  Adani Enterprises Adani Ports Apollo Hospitals...
 3           NIFTY Next 50  Adani Energy Solutions Adani Green Energy Adan...,
                0                                                  1
 0      NIFTY 100  NIFTY 50 Adani Enterprises Adani Ports Apollo ...
 1       NIFTY 50  Adani Enterprises Adani Ports Apollo Hospitals...
 2  NIFTY Next 50  Adani Energy Solutions Adani Green Energy Adan...,
                0                                                  1
 0       NIFTY 50  Adani Enterprises Adani Ports Apollo Hospitals...
 1  NIFTY Next 50  Adani Energy Solutions Adani Green Energy Adan...,
                                       vteIndia topics  \
 0   HistoryOverviews Timeline Years Astronomy Clot...
 1                                             History
 2   Overviews Timeline Years Astronomy Clothing Co...
 3                                           Overviews
 4                                             Ancient
 5                                     Middle Kingdoms
 6                                         Middle Ages
 7                                        Early Modern

In [23]:
df7[1]

,Company name,Symbol,Sector[15],Date added[16]
0,Adani Enterprises,ADANIENT,Metals & Mining,30 September 2022
1,Adani Ports & SEZ,ADANIPORTS,Services,28 September 2015
2,Apollo Hospitals,APOLLOHOSP,Healthcare,31 March 2022
3,Asian Paints,ASIANPAINT,Consumer Durables,27 April 2012[a]
4,Axis Bank,AXISBANK,Financial Services,27 March 2009
5,Bajaj Auto,BAJAJ-AUTO,Automobile and Auto Components,1 October 2010[b]
6,Bajaj Finance,BAJFINANCE,Financial Services,29 September 2017
7,Bajaj Finserv,BAJAJFINSV,Financial Services,2 April 2018
8,Bharat Electronics,BEL,Capital Goods,30 September 2024
9,Bharti Airtel,BHARTIARTL,Telecommunication,1 March 2004
10,Cipla,CIPLA,Healthcare,7 October 1998
11,Coal India,COALINDIA,"Oil, Gas & Consumable Fuels",10 October 2011
12,Dr. Reddy's Laboratories,DRREDDY,Healthcare,1 October 2010[c]
13,Eicher Motors,EICHERMOT,Automobile and Auto Components,1 April 2016
14,Eternal,ETERNAL,Consumer Services,28 March 2025
15,Grasim Industries,GRASIM,Construction Materials,2 April 2018[d]
16,HCLTech,HCLTECH,Information Technology,28 October 2002
17,HDFC Bank,HDFCBANK,Financial Services,22 April 1996
18,HDFC Life,HDFCLIFE,Financial Services,31 July 2020
19,Hero MotoCorp,HEROMOTOCO,Automobile and Auto Components,7 October 1998[e]
20,Hindalco Industries,HINDALCO,Metals & Mining,22 April 1996
21,Hindustan Unilever,HINDUNILVR,Fast Moving Consumer Goods,22 April 1996
22,ICICI Bank,ICICIBANK,Financial Services,25 January 2002
23,IndusInd Bank,INDUSINDBK,Financial Services,1 April 2013
24,Infosys,INFY,Information Technology,7 October 1998
25,ITC,ITC,Fast Moving Consumer Goods,22 April 1996
26,Jio Financial Services,JIOFIN,Financial Services,28 March 2025
27,JSW Steel,JSWSTEEL,Metals & Mining,28 September 2018
28,Kotak Mahindra Bank,KOTAKBANK,Financial Services,8 April 2010
29,Larsen & Toubro,LT,Construction,10 December 2004[f]
30,Mahindra & Mahindra,M&M,Automobile and Auto Components,18 September 1996
31,Maruti Suzuki,MARUTI,Automobile and Auto Components,1 March 2004
32,Nestlé India,NESTLEIND,Fast Moving Consumer Goods,27 September 2019[g]
33,NTPC,NTPC,Power,24 September 2007
34,Oil and Natural Gas Corporation,ONGC,"Oil, Gas & Consumable Fuels",12 April 2004
35,Power Grid,POWERGRID,Power,14 March 2008
36,Reliance Industries,RELIANCE,"Oil, Gas & Consumable Fuels",22 April 1996
37,SBI Life Insurance Company,SBILIFE,Financial Services,25 September 2020
38,Shriram Finance,SHRIRAMFIN,Financial Services,28 March 2024
39,State Bank of India,SBIN,Financial Services,22 April 1996
40,Sun Pharma,SUNPHARMA,Healthcare,17 January 2002
41,Tata Consultancy Services,TCS,Information Technology,25 February 2005
42,Tata Consumer Products,TATACONSUM,Fast Moving Consumer Goods,31 March 2021[h]
43,Tata Motors,TATAMOTORS,Automobile and Auto Components,22 April 1996
44,Tata Steel,TATASTEEL,Metals & Mining,22 April 1996
45,Tech Mahindra,TECHM,Information Technology,28 March 2014
46,Titan Company,TITAN,Consumer Durables,2 April 2018
47,Trent,TRENT,Consumer Services,30 September 2024
48,UltraTech Cement,ULTRACEMCO,Construction Materials,28 September 2012
49,Wipro,WIPRO,Information Technology,27 September 2013[i]