In [2]:
import pandas as pd
data1=pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')
data1=data1[2]
data1

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.17%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.31%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.14%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,2.99%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.92%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.03%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.01%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.92%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.63%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.79%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.35%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.27%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.77%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.24%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.83%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.57%
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.11%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,6.69%
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,0.90%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,2.02%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.46%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,3.88%
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08,NaN,5.19%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.98%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,4.34%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.63%
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,5.28%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.41%

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [4]:
'hello'.upper()

'HELLO'

In [9]:
data1['Index weighting'].str.replace('%','')

0     2.17
1     4.31
2     4.14
3     2.99
4     2.92
5     3.03
6     5.13
7     2.01
8     0.92
9     1.04
10    1.63
11    8.79
12    5.35
13    3.27
14    3.77
15    2.24
16    3.83
17    4.57
18    1.11
19    6.69
20    0.90
21    2.02
22    2.46
23    3.88
24    5.19
25    3.98
26    4.34
27    0.63
28    5.28
29    1.41
Name: Index weighting, dtype: object

In [11]:
data1['Index weighting']=data1['Index weighting'].str.replace('%','').astype('float')

In [15]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     int64
dtypes: int64(1), object(6)
memory usage: 1.8+ KB

In [13]:
data1['Index weighting']=data1['Index weighting'].astype('int')

In [14]:
data1

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,2
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,6
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,0
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,2
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,3
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08,NaN,5
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,4
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,5
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1