crypto

In [8]:
from alpaca.data.historical.crypto import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit
import pendulum as dt
timez_zone="America/New_York"


crypto_historical_data_client = CryptoHistoricalDataClient()
req = CryptoBarsRequest(
    symbol_or_symbols = 'ETH/USD',
    timeframe=TimeFrame(amount = 15, unit = TimeFrameUnit.Minute), # specify timeframe
    start = dt.datetime(2024,1,1,1,1,1,tz=timez_zone),                          # specify start datetime, default=the beginning of the current day.
    end=dt.datetime(2024,1,25,1,1,1,tz=timez_zone),                                        # specify end datetime, default=now
    # limit = 2,                                               # specify limit
)

history_df2=crypto_historical_data_client.get_crypto_bars(req).df
history_df2

                                        open       high        low      close  \
symbol  timestamp
ETH/USD 2024-01-01 06:15:00+00:00  2275.1445  2279.2405  2274.5800  2275.6900
        2024-01-01 06:30:00+00:00  2276.5230  2281.8500  2276.5230  2281.2050
        2024-01-01 06:45:00+00:00  2282.3000  2282.6970  2281.1085  2281.4650
        2024-01-01 07:00:00+00:00  2282.4910  2286.2960  2282.4910  2284.0885
        2024-01-01 07:15:00+00:00  2283.3000  2285.5780  2282.6800  2285.3500
...                                      ...        ...        ...        ...
        2024-01-25 05:00:00+00:00  2211.5280  2212.4845  2204.2700  2206.5685
        2024-01-25 05:15:00+00:00  2205.7125  2209.2850  2202.3650  2205.8860
        2024-01-25 05:30:00+00:00  2205.2500  2209.0350  2205.0020  2207.4450
        2024-01-25 05:45:00+00:00  2208.0935  2211.1065  2208.0935  2210.8200
        2024-01-25 06:00:00+00:00  2209.7050  2215.6500  2209.7050  2214.6550

                                     volume  trade_count         vwap
symbol  timestamp
ETH/USD 2024-01-01 06:15:00+00:00  0.000000          0.0     0.000000
        2024-01-01 06:30:00+00:00  0.437800          1.0  2278.470000
        2024-01-01 06:45:00+00:00  0.000436          1.0  2282.300000
        2024-01-01 07:00:00+00:00  0.000000          0.0     0.000000
        2024-01-01 07:15:00+00:00  0.000000          0.0     0.000000
...                                     ...          ...          ...
        2024-01-25 05:00:00+00:00  4.998000          3.0  2204.565174
        2024-01-25 05:15:00+00:00  0.000000          0.0     0.000000
        2024-01-25 05:30:00+00:00  0.133199          2.0  2207.357289
        2024-01-25 05:45:00+00:00  0.176552          2.0  2210.199774
        2024-01-25 06:00:00+00:00  0.000000          0.0     0.000000

[2304 rows x 7 columns]

In [10]:
from alpaca.data.historical.stock import StockHistoricalDataClient
from alpaca.data.requests import StockBarsRequest
from alpaca.data.timeframe import TimeFrame, TimeFrameUnit
import pendulum as dt
api_key='PKCGQ99MC5FQA1P8ZSRE'
secret_key='rkWLI1F2poiTbuERdzozfOLgVV6mrFKTH27Ugvb1'
shdc=StockHistoricalDataClient(api_key,secret_key)
req=StockBarsRequest(symbol_or_symbols='NVDA',
                    timeframe=TimeFrame(amount = 15, unit = TimeFrameUnit.Minute),
                    start = dt.datetime(2024,1,1,1,1,1,tz=timez_zone),                          # specify start datetime, default=the beginning of the current day.
                    end=dt.datetime(2025,1,25,1,1,1,tz=timez_zone),   
                     
                     )

data=shdc.get_stock_bars(req).df
data

                                      open    high     low   close    volume  \
symbol timestamp
NVDA   2024-01-02 09:00:00+00:00  493.7400  495.35  493.74  495.21    9570.0
       2024-01-02 09:15:00+00:00  494.9700  495.00  494.88  495.00    1440.0
       2024-01-02 09:30:00+00:00  495.1100  495.11  494.25  494.45    2951.0
       2024-01-02 09:45:00+00:00  494.9500  495.00  494.46  494.83    2392.0
       2024-01-02 10:00:00+00:00  495.0000  495.00  494.55  494.55    4327.0
...                                    ...     ...     ...     ...       ...
       2025-01-24 23:45:00+00:00  142.1400  142.20  142.05  142.16  144025.0
       2025-01-25 00:00:00+00:00  142.1798  142.20  142.13  142.13   70355.0
       2025-01-25 00:15:00+00:00  142.1300  142.18  142.08  142.11   70140.0
       2025-01-25 00:30:00+00:00  142.1100  142.13  142.00  142.05  172217.0
       2025-01-25 00:45:00+00:00  142.0500  142.14  142.00  142.02  184562.0

                                  trade_count        vwap
symbol timestamp
NVDA   2024-01-02 09:00:00+00:00        344.0  495.015250
       2024-01-02 09:15:00+00:00         44.0  494.978093
       2024-01-02 09:30:00+00:00        138.0  494.785591
       2024-01-02 09:45:00+00:00         54.0  494.947885
       2024-01-02 10:00:00+00:00        103.0  494.917800
...                                       ...         ...
       2025-01-24 23:45:00+00:00       1664.0  142.132221
       2025-01-25 00:00:00+00:00       1167.0  142.164186
       2025-01-25 00:15:00+00:00       1141.0  142.134622
       2025-01-25 00:30:00+00:00       2087.0  142.043834
       2025-01-25 00:45:00+00:00       1966.0  142.066764

[17037 rows x 7 columns]